.roboto-serif{
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

:root{
    --header-color: #332e29;
    --color: #ef7a2e;
    --bg-color : #f0e3d7;
    --foot-color : #333333;
}
.fa-dumbbell{
    margin: 20px;
    padding: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 60px !important;
    height: 60px !important;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 50% !important;
   background-color: white ;
   color: var(--color);

}

.cards{
  margin: 0 !important;
  overflow: hidden !important;
  width: 100%;
}

@media (max-width: 640px) {
  .cards .grid {
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
    padding: 1rem !important;

  }
  
  .cards .grid > div {
    /* aspect-ratio: 1/1 !important; */
    max-height: 250px !important;
    min-height: 200px !important;
  }
  
  .cards .grid > div p {
    font-size: 1rem !important;
    line-height: 1.4 !important;
  }
  
  .cards .grid > div b {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 480px) {
  .cards .grid > div {
    max-height: 250px !important;
    min-height: 200px !important;
    padding: 1rem !important;
  }
  
  .cards .grid > div p {
    font-size: 1rem !important;
  }
  
  .cards .grid > div b {
    font-size: 1.5rem !important;
  }
}

.contact{
  width: 100%;
  height: 100%;
  background-image: url('/imag/fddddd-min.jpg') center cover no-repeat !important;
}

/* .back{
  margin: 20px !important;
}
.imag{
  margin: 20px !important;
  height: 400px;

} */